.gauge-container {
  width: 150px;
  height: 150px;
  display: block;
  padding: 10px;
}
.gauge-container > .gauge .dial {
  stroke: rgb(222,222,222);
  stroke-width: 0.5;
  fill: transparent;
}
.gauge-container > .gauge .value {
  stroke: steelblue;;
  stroke-width: 1.5;
  fill: transparent;
}
.gauge-container > .gauge .value-text {
  fill: steelblue;
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 1em;
}

.gauge-container > .gauge .value-cold {
  stroke: steelblue;
  stroke-width: 1.5;
  fill: transparent;
}
.gauge-container > .gauge .value-warm {
  stroke: olivedrab;
  stroke-width: 1.5;
  fill: transparent;
}

.gauge-container > .gauge .value-text-cold {
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 1em;
  fill: steelblue;
}
.gauge-container > .gauge .value-text-warm {
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 1em;
  fill: olivedrab;
}

